* {
	margin: 0;
	padding: 0;
}

/* Navigation Bar */


#navigationBar {
	overflow: hidden;
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 1;
}

.navBarContent {
	padding: 0 30px;
}


.csuLogo {
	max-height: 100%;
	max-width: 100%;
	width: 500px;
	height: 70px;
	padding-top: 20px;
	background: url('Photos/csulogo.png') no-repeat scroll center center transparent;
	background-size: cover;
	float: left;
}

#navigationBar a {
	float: right;
	display: block;
	color: #CCD1D1;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
	transition: color .2s;
}

.hamburger {
	display: none;
	margin: 30px 30px;
	background: none;
	border: none;
	cursor: pointer;
	color: green; 
}

#navigationBar .bar {
	width: 35px;
	height: 5px;
	background-color: #CCD1D1;
	transition: background-color .2s;
	margin: 6px 0;
	display: block;
	border-radius: 2px;
	z-index: -2;
}

.dropDown {
	position: relative;
	float: right;
}

.dropDownLinks {
	display: none;
	position: fixed;
	top: 68px;
	right: 0px;
	min-width: 160px;
	background-color: black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownLinks a {
	color: black;
	padding: 12px 30px;
	text-decoration: none;
	display: block;
}

#navigationBar a:hover {
	color: white;
}

.hamburger:hover .bar {
	background-color: white;
}

.hamburger:hover ~ .dropDownLinks, .dropDownLinks:hover { 
	display: flex;
	flex-direction: column-reverse;
}


/* Main Body */

body {
  background: linear-gradient(0deg, rgba(50,50,50,0.8) 50%, rgba(0,0,20,0.8) 100%), url("Photos/pipe.jpg");
  background-size: auto 100%;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
	color: black;
	background-attachment: fixed;
}

header {
	font-size: 69px;
	padding: 250px 70px 50px;
	margin: 40px auto 100px auto; 
	color: white;
	text-align: center;
}

h1 {
	position: relative;
	text-align: center;
	padding-top: 50px;
	font-size: 36px;
}

h2 {
  font-size: 20px;
	color: black;
	font-family: Helvetica, sans-serif;
	text-align: justify;
}

.timeLine{
	background-color: white;
	position: relative;
	z-index: 0;
}

table{
	padding: 0 100px 100px;
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
}

td {
	padding: 10px;
	text-align: left;
}



.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #C8C372;
	position: absolute;
	margin-top: -34px;
	margin-left: 67px;
	z-index: -1;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #C8C372;
	position: absolute;
	margin-top: -34px;
	margin-left: -10px;
	z-index: -1;
}


.dot {	
	height: 30px;
	width: 30px;
	background-color: #1E4D2B;
	border-radius: 50%;
	display: inline-block;
	margin-right: -17px;
}

.line {
	border-left: 5px solid black;
	padding: 100px 20px;
	position: relative;
	z-index: -1;
	margin-right: -25px;
}

.task{
	font-size: 30px;
	padding-bottom: 10px;
}

.time{
	padding: 10px;
	background-color: #C8C372;
	border-radius: 10px;
	width: 52px;
}


.description{
	max-width: 500px;
}

/* Footer */

footer { 
	background-color: black;
	width: 100%;
	padding-bottom: 90px;
}

.footerContent {
	padding: 0px 30px;
}

footer a{
	float: right;
	color: #CCD1D1;
	padding: 30px 30px;
	text-decoration: none;
	transition: color .2s;
}
 

footer a:hover {
	color: white;
}


/* Media Query for Screen Size */

@media screen and (max-width: 1300px) {
	.navigationLinks {
		display: none;
		size: 0;
	} 
	.hamburger {
		display: block;
	}
	.flexBox {
		flex-direction: column;
	}
	.flexBoxR {
		flex-direction: column-reverse;
	}
}
